/account.csv
/account.docx
/iterate.dat
/orders.csv
/quote_1_year.csv
/диверсификация.xlsx
/.idea
/.svn
/__pycache__
/bruteforce
/dll
/excel
/quote.csv
/other/account.docx
/other/anneal.py
/other/bot.py
/other/brootforce.py
/other/bruteforce/account.csv
/other/bruteforce/account1.xlsx
/other/bruteforce/account11.csv
/other/bruteforce/account2.xlsx
/other/bruteforce/account3.xlsx
/other/bruteforce/account4.xlsx
/other/bruteforce/account5.xlsx
/other/bruteforce/account6.xlsx
/other/bruteforce/подбор_параметров.xlsx
/other/dll/include/http51.mqh
/other/dll/libraries/http51.dll
/other/dll/sample_http51.mq4
/other/excel/eurusd_1_2010-01-01_2011-01-01.csv
/other/excel/eurusd_1_2013-08-20_2014-01-20.csv
/other/excel/eurusd_1_2013-08-20_2014-01-20.xlsx
/other/parameters.py
/other/quote.csv
/other/quote_1_year.csv
/test/sqlite.py
